name: Deploy Database Changes

on:
  workflow_dispatch: # This enables the manual button trigger

jobs:
  deploy-migrations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' 

      - name: Install Dependencies
        run: npm install

      - name: Run Prisma Migrate Deploy
        run: npx prisma migrate deploy
        env:
          DB_URL: ${{ secrets.SUPABASE_DATABASE_URL }}
          DIRECT_URL: ${{ secrets.SUPABASE_DIRECT_URL }}
